@tailwind base;
@tailwind components;
@tailwind utilities;


.color-primary {
  color: #085DCB;
}

.max-width-auth {
  max-width: 390px;
}

.bg-base {
  background-color: #085DCB;
}

.bg-button-primary {
  background-color: #E27D60;
}

.menu li {
  padding: 10px;
}

.menu li a {
  display: inline;
  padding: 10px;
}

.sub-menu {
  border: 1px solid #063574;
}

.sub-menu li a {
  padding: .5rem 1rem;
  display: block;
  cursor: pointer;
}

.sub-menu li a:hover {
  background-color: #eaeaea;
}

.no-separator li a {
  padding: .5rem .5rem;
}

.menu li a:hover,
.menu li a.active {
  background-color: #085DCB;
  color: #FFFFFF;
}

.menu-wrapper {
  border-bottom: 3px solid #E27D60;
}

.options li {
  display: block;
  cursor: pointer;
  padding: 5px 0;
}

.breadcrumbs > li {
  display: inline-block;
}

.breadcrumbs > li > a {
  color: #085DCB;
}

.breadcrumbs > li.active::before {
  content: '> ';
}

.header-menu > li {
  display: inline-block;
}

.header-menu > li > a {
  padding: 30px 15px;
  display: block;
}

.header-menu > li:nth-child(2n+1) {
  background-color: #2c7ce4;
}

.header-menu > li > a:hover {
  background-color: #063574;
}